:root {
  --dark-gray: #333;
  --gray: #999;
  --light-gray: #ccc;
  --lighter-gray: #fafafa;
  --white: #fff
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background: var(--dark-gray);
  color: var(--white);
  padding: 2rem 1.875rem;
}

.App-header--principal {
  margin: 0;
}

.App-main {
  background: var(--white);
  font-size: .8125rem;
  color: var(--dark-gray);
}
