.ListItem {
  border-bottom: 1px solid var(--light-gray);
}

.ListItem:hover {
  background: var(--lighter-gray);
}

.ListItem--anchor {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  color: inherit;
  text-decoration: inherit;
}

.ListItem:last-of-type {
  border-bottom: none;
}

.ListItem--author {
  color: var(--gray);
}

.ListItem--date {
  margin-right: 1rem;
  margin-left: auto;
}

.ListItem--delete {
  display: flex;
  visibility: hidden;
  padding: 0;
  border: 0;
  background: none;
  outline: inherit;
  cursor: pointer;
  font-size: 1.2rem;
  color: inherit;
}

.ListItem:hover
.ListItem--delete {
  visibility: visible;
}
